<div class="col-log-2 mx-fix">
<div class="card">
    <div class="card-header">
        Subir Foto
    </div>
    <div class="card-body">
        <form (submit)="uploadPhoto(title, description, age)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre Mascota" required #title>
            </div>
            <div class="form-group">
                <textarea rows="2" class="form-control" placeholder="Edad" required #age></textarea>
            </div>
            <div class="form-group">
                <textarea rows="2" class="form-control" placeholder="Raza" required #description></textarea>
            </div>
            <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
            <img [src]="photoSelected || 'assets/no-img.png'" class="img-fluid" alt="No Image" (click)="photoInput.click()">
            <button class="btn btn-primary btn-block">
                Subir
            </button>
        </form>
    </div>
</div>
</div>